<!DOCTYPE html>
<html>
  <head>
    <title>Wellington Vicioso | Mobile and Web Developer in New York City</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="wellingtonvicioso, Wellington, Vicioso, NYC, New York, Programmer, Programer, Programming, Programing, Engineer, Engineering, Software, Wellington Vicioso, React-Native, React, Native, Software, Engineer, Developer, Wellington, Javier, Web, Development, Mobile-Development, Mobile, Development, JavaScript" />
    <meta name="description" content="Wellington Vicioso is a full-stack software engineer based in NYC. Top skills include JavaScript, React-Native, and Ruby.">
    <meta name="author" content="Wellington Vicioso" />

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script src="https://use.fontawesome.com/5253df0a68.js"></script>

    <%= favicon_link_tag 'favicon.ico' %>

    <script type="text/javascript">
      $(document).ready(function(){
         $('.parallax').parallax();
      });
    </script>
  </head>

  <body id="top">
    <%= yield %>
  </body>
</html>
